<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JoyBot</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/chat.css">
  <link rel="stylesheet" href="/css/fontawesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  <header>
    <div>
  </div>
    <div>
        <h1>JOYBOT</h1>
    </div>
    <div>
  </div>
</header>
  <main class="container">
    <div class="chat-content">
    </div>
    <form class="chat-input" action="/chat" method="POST">
      <input type="text" name="message" placeholder="Type your message here">
      <button type="submit" name="send"><i class="fas fa-paper-plane"></i></button>
    </form>      
  </main>
</body>
<script src="/js/chat.js"></script>
</html>
